.suzy {
    background: url(images/background1.gif);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.quotes1{
    padding-top: 400px;
}

.sidenav {
    background: url(images/sidenav2.jpg);
    min-height: 200px;
    background-size: cover;
    background-position:top right 5px;
}

.sidenav-footer {
    padding-top: 300px;
}

.section-about {
    background: url(images/sidenav1.png);
    min-height: 200px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right 10px;
}

.btn-extend {
    display: flex;
    width: 100%;
}

.section-profile {
    background: url(images/s1.png);
    min-height: 200px;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom right 10px;
}

.section-suzypets {
   background-color: rgba(233, 80, 106, 0.801);
}

.section-missavideo {
    background: url(images/gif3.png);
    min-height: 200px;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom right 10px;
}

.section-suzyvideo {
    background: url(images/5.png);
    min-height: 200px;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom left 10px;
}

.section-moviestats {
    background: url(images/gif2.png);
    min-height: 300px;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right 10px;
}

.i1 {
    width: 410px;
    height: 350px;
}


